body{
    margin: 0px !important;
}
.headbg {
    /*background-image: url("/img/bg1.jpg");*/
    /*background-size:80px 60px;*/
    /*background-repeat:no-repeat;*/
    width: 100%;
    height: 590px;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: cover;特定值会保持图像本身的宽高比例，将图片缩放到正好完全覆盖定义背景的区域。*/
    margin: 0px;
}

.content {
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    padding: 10px 40px;
    min-height: 678px;
    overflow-y: auto;
    /*  visible 不裁剪内容，可能会显示在内容框之外。
        hidden 	裁剪内容 - 不提供滚动机制。
        scroll 	裁剪内容 - 提供滚动机制。
        auto 	如果溢出框，则应该提供滚动机制。
        no-display 	如果内容不适合内容框，则删除整个框。
        no-content 	如果内容不适合内容框，则隐藏整个内容。
    */
}

.head {
    /*background: linear-gradient(to right, rgba(225,0,0,1), rgba(0,0,225,1));*/
    background: black;
    height: 48px;
    line-height: 48px;
    color: orange;
    padding: 10px;
    margin: 0px 0px !important;
    text-align: center;
}

.foot {
    background-color: cadetblue;
    color: white ;
    height: 120px;
    width: 100%;
    /*position:absolute;*/
    bottom: 0;
}
.foot p{
    color: white ;
}
.foot * {
    text-align: center;
}

.add_btns {
    background: cadetblue;
    align-content: center;
    /*padding: 12px 10%;*/
}

.add_btns div {
    padding: 0px 40px;
}

.btn, .add_btns button {
    background: orange;
    border: 1px solid orange;
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    font-size: 16px;
    outline: none;
    /*光标  wait help*/
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
}

.btn, .add_btns button:hover {
    background: darkorange;
    border: 1px solid darkorange;
}

.btn, .add_btns button:active {
    background: coral;
    border: 1px solid coral;
}

.blue {
    background: cadetblue;
    border: 1px solid cadetblue;
    width: auto;
    padding: 4px 30px;
}

.blue:hover {
    background: lightblue;
    border: 1px solid lightblue;
}

.blue:active {
    background: darkblue;
    border: 1px solid darkblue;
}

.rotate {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background: linear-gradient(to right, rgba(225, 0, 0, 1), rgba(0, 0, 225, 1));
    border-radius: 60px;
/ / 左上，右上，右下，坐下都是10px position: relative;
    margin-top: 100px;
    margin-right: 40px;
    float: right;
    color: white;
    text-align: center;
    transform-origin: center;
}

.rotate:hover {
    animation-name: rotate;
    animation-duration: 1.6s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.horizon {
    display: inline-block;
    width: 25%;
}

.title {
    color: orange;
    font-size: 28px;
}
.title-sm {
    color: orange;
    font-size: 20px;
}

ul:not(.nav){
    border: 1px solid lightseagreen;
    color: lightseagreen;
    padding: 10px 32px;
}

table, form {
    margin-top: 16px;
    width: 72%;
    border: 1px solid black;
    border-spacing: 0px 10px;
    padding: 10px;
    float: right;
}
table+div{
    margin-top: 16px;
    width: 72%;
    padding-left: 20px;
    float: right;
}
form div {
    display: block;
    width: 100%;
}

form input {
    width: 70%;
    font-size: 16px;
    padding: 8px;
    margin: 8px;
    border: 1px solid #888;
    border-radius: 4px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #888;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #888;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #888;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #888;
}

form small {
    color: red;
}

table thead {
    background-color: lightgrey;
}
table tbody tr:nth-child(odd){
    /*background-color: greenyellow;*/
}
/*偶数行*/
table tbody tr:nth-child(even){
    background-color: lightblue;
}
table thead td {
    width: 10%;
}

table thead td:nth-child(1) {
    width: 12%;
}
table thead td:nth-child(2) {
    width: 8%;
}
table thead td:nth-child(4) {
    width: 14%;
}

table thead td:nth-child(6) {
    width: 6%;
}

table thead td:last-child {
    width: 4%;
}