<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>学习资源网页</title>
</head>
<body>
<div th:include="fragments :: head"></div>
<div class="content container">
    <p>ngrok穿透网址： http://weread.free.ngrok.cc</p>
    <!--Android start-->
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>Android</h3></div>
        <div class="panel-body">
            <a href=""></a>
        </div>
        <!--<div class="panel-footer"></div>-->
    </div>
    <!--Android end-->
    <!--Java start-->
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>Java</h3></div>
        <div class="panel-body">
            <h4>AOP</h4>
            <a href="http://blog.csdn.net/u010255859/article/details/51190294" target="_blank">AOP--Filter使用，过滤器和拦截器的区别</a>
            <hr>
            <h4>拦截器</h4>
            <a href="https://blog.csdn.net/qq_35246620/article/details/68484407" target="_blank">用 Java 实现拦截器 Interceptor 的拦截功能 </a>
            <hr>
            <h4>Servlet</h4>
            <a href="https://www.cnblogs.com/fifiyong/p/6390805.html" target="_blank"> Servlet运行原理以及生命周期</a>
            <hr>
            <h4>Springboot 热部署</h4>
            <a href="https://www.cnblogs.com/bingshu/p/6876030.html" target="_blank">spring boot 之热部署(三)</a>
            <hr>
            <h4>EhCache缓存框架</h4>
            <a href="http://blog.csdn.net/weixin_39910092/article/details/78175465" target="_blank">缓存框架EhCache整合shiro权限验证（基于spring整合）</a>
            <hr>
            <h4>Java日志框架</h4>
            <a href="https://www.cnblogs.com/ywlaker/p/6124067.html" target="_blank">java日志框架log4j详细配置及与slf4j联合使用教程</a>
            <hr>
            <h4>MyBatis</h4>
            <a href="http://www.mybatis.org/mybatis-3/configuration.html#settings" target="_blank">MyBatis官方API</a>
            <hr>
            <h4>ActiveMQ 消息中间件</h4>
            <a href="http://blog.csdn.net/u013123635/article/details/78362360" target="_blank">Java消息中间件---基础篇</a>
            <hr>

        </div>
    </div>
    <!--Java end-->
    <!--架构 start-->
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>架构</h3></div>
        <div class="panel-body">
            <h4>分布式系统</h4>
            <a href="https://www.cnblogs.com/xybaby/p/7787034.html" target="_blank">什么是分布式系统，如何学习分布式系统</a>
            <hr>
            <h4>面向服务的体系架构（SOA）</h4>
            <a href="http://blog.csdn.net/javawebrookie/article/details/61419785" target="_blank">面向服务的体系架构（SOA）</a>
            <hr>
            <h4>REST/RESTful</h4>
            <a href="http://blog.csdn.net/chenxiaochan/article/details/73716617" target="_blank">三分钟彻底了解Restful最佳实践</a>
            <hr>
        </div>
    </div>
    <!--end-->
    <!--Python start-->
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>Python</h3></div>
        <div class="panel-body"></div>
    </div>
    <!--Python end-->
    <!--数据库start-->
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>数据库</h3></div>
        <div class="panel-body">
            <h4>关系型数据库和非关系型数据库</h4>
            <a href="https://blog.csdn.net/lijinqi1987/article/details/51823506" target="_blank">关系型数据库和非关系型数据库的特性以及各自的优缺点</a>
            <hr>
            <h4>MongoDB</h4>
            <a href="" target="_blank"></a>
            <hr>
            <h4>Redis</h4>
            <a href="http://doc.redisfans.com/" target="_blank">Redis 命令参考</a>
            <hr>
        </div>
        <!--<div class="panel-footer"></div>-->
    </div>
    <!--数据库end-->
    <!--工具start-->
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>工具</h3></div>
        <div class="panel-body">
            <h4>ETL</h4>
            <a href="http://blog.csdn.net/u013412535/article/details/43462537" target="_blank">ETL介绍与ETL工具比较</a>
            <hr>
            <h4>Informatica Powercenter -ETL工具</h4>
            <a href="http://blog.csdn.net/water_0815/article/details/76512470" target="_blank">Informatica基础系列</a>
            <hr>
            <h4>Kettle -开源的Java编写的ETL工具</h4>
            <a href="http://www.kettle.net.cn/category/use" target="_blank">中文官网</a>
            <a href="#" target="_blank">Java中集成Kettle</a>
            <hr>
        </div>
        <!--<div class="panel-footer"></div>-->
    </div>
    <!--工具end-->
    <!--其他start-->
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>其他</h3></div>
        <div class="panel-body">
            <h4></h4>
            <a href="" target="_blank"></a>
            <hr>
        </div>
        <!--<div class="panel-footer"></div>-->
    </div>
    <!--其他end-->
</div>
<!--foot-->
<div th:include="fragments :: foot"></div>
</body>
<script>
</script>
</html>